#input{
  margin-left: 15%;
  font-size: 24px;
  margin-top: 5px;
}
#page_button{
  text-align: center;
}
label{
  width: 20%;
  text-align: center;
  display: inline-block;
}
input{
  font-size: 14px;
}
#button1 {
  background-color:#8a377e ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 14px;
}

#input_id{
  width: 40%;
  height: 47px;
}

#input_all{
  width: 60%;height: 47px;
}

#email1, #email2{
  width: 20%;height: 47px;
}

#email_select{
  width: 20%;
  height: 47px;
}

#reset_bt {
    background-color:white ;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
}
